<a href="https://colab.research.google.com/github/ColleenQuijano/CPEN65-2/blob/main/array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#Accessing the elements in an Array

animals = ["cat","dog","cow"]
x = animals[0]
y = animals[1]
z = animals[2]
print("Array[0] =",x)
print("Array[1] =",y)

Array[0] = cat
Array[1] = dog

In [10]:
#modifying the elements in the Array
animals = ["cat","dog","cow"]
animals[0] = "monkey"
x = animals[0]
print("Array[0] = ",x)
print(animals)

Array[0] =  monkey
['monkey', 'dog', 'cow']

In [11]:
#length of the Array
animals = ["monkey","cat","dog","fish"]
v = len(animals)
print(v)

4

In [12]:
#looping Array Elements
animals = ["monkey","cat","dog","fish", "cow"]
for x in animals:
  print(x)

monkey
cat
dog
fish
cow

In [13]:
animals = ["monkey","cat","dog","fish", "cow"]
for index , val in enumerate(animals):
  print(index,val)

0 monkey
1 cat
2 dog
3 fish
4 cow

In [1]:
#looping array elements
animals = ["monkey", "dog", "fish","cat","birds"]
for x in animals:
  print(x)

monkey
dog
fish
cat
birds

In [2]:

animals = ["monkey", "dog", "fish","cat","birds"]
for index, vakl in enumerate(animals):
  print(index, x)

0 birds
1 birds
2 birds
3 birds
4 birds

In [3]:
#adding

animals = ["monkey", "dog", "fish","cat","birds"]
animals.append("lion")
print(animals)

['monkey', 'dog', 'fish', 'cat', 'birds', 'lion']

In [4]:
#write a Python program a new insert a new item('11") before the second element in an existing array
#original array number: [1,2,3,4,5,6,7,8,9,10]
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.insert(1,11)
print(numbers)

[1, 11, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
#removing an element in the array

print(numbers)
numbers.pop(1)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 4, 5, 6, 7, 8, 9, 10]